/Debug/
/Release/
[Dd]ebug*/
[Rr]elease*/

*.o
*.elf
*.bin
*.hex
*.map
*.d
*.su
*.cyclo
*.list

.settings/language.settings.xml
*.launch
*.o.d

*.stlink
*.jlink
*.launch

*.log
/mx/

.DS_Store
Thumbs.db
